<h2 id="opening">Opening</h2>
<p>I am me and I am Jasmin/EC user</p>
<p>I got great help in preparing the talk from developers and they are in chat</p>
<p>Show what to expect slide.</p>
<p>Structure:</p>
<ul>
<li>Quick look at example</li>
<li>A brief look at how Jasmin works</li>
<li>Security proofs and correctness proofs in EasyCrypt</li>
</ul>
<h2 id="quick-look-at-example">Quick look at example</h2>
<p>Show diagram</p>
<p>Show slide about AES NI and AES in Jasmin</p>
<p>Show Jasmin code (both mem and reg)</p>
<p>Show how both can be called from C</p>
<p>Show safety check</p>
<p>Show constant-time, explain what it means and how it is checked</p>
<h2 id="jasmin">Jasmin</h2>
<p>Phylosophy:</p>
<ul>
<li><p><code>quasm</code> inspired: more usable than assembly but still control (side effects explicit, flags)</p></li>
<li><p>verification perspective:</p>
<ul>
<li>well defined semantics (two of them)</li>
<li>source level semantics (arrays as collections, loops, function calls)</li>
<li>verification close to structured languages such as C</li>
</ul></li>
<li><p>assembly in the head/control:</p>
<ul>
<li>predict in your head what will come out</li>
<li>compiler is thin (can prove constant-time preservation)</li>
<li>a lot is left to the programmer (spilling, make sure register assignment exists)</li>
</ul></li>
</ul>
<p>Look at code AES</p>
<ul>
<li>explain exported functions vs inlineable functions</li>
<li>high-level and low-level syntax (arrays, if, loops, functions vs registers, direct asm)</li>
<li>show assembly and explain the context of <em>in-the-head</em>: unroll, inlined int</li>
<li>explain stack, show stack code (explain that compiler takes control of stack)</li>
<li>mention interpreter</li>
</ul>
<h2 id="proof">Proof</h2>
<p>Show example slide, crypto spec =&gt; corresponding EC specification.</p>
<p>Show IND$-CPA, PRF and limitations =&gt; RFth, RPth, PRFth, NbEnc.</p>
<p>Show cheat sheet and explain that it shows main rules.</p>
<p>Show scheme, correctness and brush over proof.</p>
<h2 id="implementation-security">Implementation security</h2>
<p>Show slides and discuss what it means.</p>
<p>Extraction, show results:</p>
<ul>
<li><p>Explain TCB (EC semantics for Jasmin match Coq, Coq semantics itself, plus extraction tool and EC itself)</p></li>
<li><p>Explain AES_spec (operator) and what is proved about it</p></li>
<li><p>Show how example uses AES and how one can recover the AES result as op</p></li>
</ul>
<p>Proof of correctness:</p>
<ul>
<li><p>Highlight refined scheme uses AES op as f (assumption)</p></li>
<li><p>Highlight refined scheme has same types, so we have a special case which is nice</p></li>
</ul>
